<!DOCTYPE html>
<html lang="en">
    <head>
        <title>HBNB</title>
    </head>
    <body>
        {% if id is none %}
        <h1>States</h1>
        <ul>
            {% for i in states.values|sort(attribute="name") %}
            <LI>
                {{ i.id }}: <b>{{ i.name }}</b>
            </LI>
            {% endfor %}
        </ul>
        {% elif state is none %}
            <H1>Not found!</H1>
        {% else %}
        <h1>State: {{ states.name }}</h1>
        <h3>Cities:</h3>
        <ul>
            {% for i in states.cities |sort(attribute="name") %}
            <LI>
                {{ i.id }}: <b>{{ i.name }}</b>
            </LI>
            {% endfor %}
        </ul>
        {% endif %}
    </body>
</html>